*{margin: 40px;}
	form{
	width:90%;
	max-width:450px;
	margin-top:2vh;
	margin-bottom:2vh;
	margin-left:auto;
	margin-right:auto;
	padding: 0 15px;
	border:2px solid black;
	
	
	font-family: Arial, Helvetica, sans-serif;
	}
	h2{
	background-color: black;
	color: rgb(230, 187, 187);
	text-align: center;
	padding: 10px;
	margin: 10px 20px;
	border-radius: 2px;
	}
	label{
	padding: 10px 5px;
	font-weight: bold;
	}
	input,select,button{
	padding: 12px;
	margin:10px 0;
	width:90%;
	border: none;
	outline: none;
	border-radius: 2px;
	}
	input[type="checkbox"]{
	margin:5px;
	width:auto;
	}
	button{
	background-color: black;
	color: rgb(230, 191, 191);
	font-size: 18px;
	margin:20px;
	}